<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>


    <form action="/api/events/<%= event.id %>/edit" method="post" name="updateevent" enctype="application/x-www-form-urlencoded" class="margined">
      <div class="form-group">Edit this Event
        <p>Name:
          <input id="inputName" type="text" value="<%= event.name %>" name="name"/>
        </p>
        <p>Venue:
          <input id="inputVenue" type="text" value="<%= event.venue %>" name="venue"/>
        </p>
        <p>Address:
          <input id="inputAddress" type="text" value="<%= event.address %>" name="address"/>
        </p>
        <p>Suburb:
          <input id="inputSuburb" type="text" value="<%= event.suburb %>" name="suburb"/>
        </p>
        <p>City:
          <input id="inputCity" type="text" value="<%= event.city %>" name="city"/>
        </p>
        <p>State:
          <input id="inputState" type="text" value="<%= event.state %>" name="state"/>
        </p>
        <p>Type:
          <input id="inputType" type="text" value="<%= event.type %>" name="type"/>
        </p>
        <p>Date:
          <input id="inputDate" type="text" value="<%= event.date %>" name="date"/>
        </p>
        <p>Time:
          <input id="inputTime" type="text" value="<%= event.time %>" name="time"/>
        </p>
        <p>Image URL:
          <input id="inputImageURL" type="text" value="<%= event.img_url %>" name="img_url"/>
        </p>
        <p>Login:
          <input id="inputLogin" type="text" value="<%= event.login %>" name="login"/>
        </p>
        <p>Password:
          <input id="inputPassword" type="text" value="<%= event.password %>" name="password"/>
        </p>
        <p>
          <button id="btnSubmit" type="submit" class="btn-lg btn-primary btn-centre">Save</button>
        </p>
      </div>
    </form>

    <form action="/api/events/<%= event.id %>/edit" method="post" enctype="application/x-www-form-urlencoded" class="margined">
      <input type="hidden" value="DELETE" name="_method"/>
      <button type="submit" class="btn-lg btn-primary btn-centre">Delete this Event</button>
    </form>

</body>
</html>