<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/head2 %>
    <link rel='stylesheet' href='../../../stylesheets/style.css'/>
  </head>
  <body>
    <% include ../../partials/nav-top %>
      <div class="parallax-container">
          <div class="parallax">
          <img src="../../../images/e4.png">
        </div>
      </div>

<div class="section">
      <div class="container center-align v">
        <h3><%= event.name %></h3>
        <p>4 months until the event!</p>
      </div>

      <div class="center-align open">
      <div class="row">
        <div class="col s6">
          <a href="/api/events/<%= event._id %>" class="black-text">The Event. Public: anyone can view</a></div>
        <div class="col s6 underline bold">
          Your Shortlist. Private: only you can view
        </div>
      </div>
      </div>

      <div class="divider"></div>
</div>
      <!-- if no savedevent, show three empty/dummy dress containers, clicking one creates the saved event --> 
      <% if(savedEvents.length <= 0){ %>
        <p class="margined">You are not following this event</p>
        <div class="container">
        <div class="row">
          <h5>Save your top 3 dresses here</h5>
          <div class="col s12 m5 l3 v open card newDress grey lighten-2">
            <div class="">
              <form id="formAddSavedEvent" name="addSavedEvent" method="post" action="/api/savedEvents/" class="margined">
          <div class="form-group">
            <p>
              <input id="event_id" type="hidden" value="<%= event.id %>" name="event_id"/>
              <input id="e_name"  type="hidden" value="<%= event.name %>" name="e_name"/>
              <input id="e_img"   type="hidden" value="<%= event.img_url %>" name="e_img"/>
            </p>
            <p>
              <button id="btnSubmit" type="submit" class="btn-lg btn-primary btn-centre" onclick="">Dress 1</button>
            </p>
          </div>
        </form>
            </div>

          </div>
          <div class="col s12 m5 l3 v open card newDress grey lighten-2">
            <div class="">
              <form id="formAddSavedEvent" name="addSavedEvent" method="post" action="/api/savedEvents/" class="margined">
          <div class="form-group">
            <p>
              <input id="event_id" type="hidden" value="<%= event.id %>" name="event_id"/>
              <input id="e_name"  type="hidden" value="<%= event.name %>" name="e_name"/>
              <input id="e_img"   type="hidden" value="<%= event.img_url %>" name="e_img"/>
            </p>
            <p>
              <button id="btnSubmit" type="submit" class="btn-lg btn-primary btn-centre">Dress 2</button>
            </p>
          </div>
        </form>
            </div>

          </div>
          <div class="col s12 m5 l3 v open card newDress grey lighten-2">
            <div class="">
              <form id="formAddSavedEvent" name="addSavedEvent" method="post" action="/api/savedEvents/" class="margined">
          <div class="form-group">
            <p>
              <input id="event_id" type="hidden" value="<%= event.id %>" name="event_id"/>
              <input id="e_name"  type="hidden" value="<%= event.name %>" name="e_name"/>
              <input id="e_img"   type="hidden" value="<%= event.img_url %>" name="e_img"/>
            </p>
            <p>
              <button id="btnSubmit" type="submit" class="btn-lg btn-primary btn-centre">Dress 3</button>
            </p>
          </div>
        </form>
            </div>

          </div>

      <% } else if (dresses.length <= 0){ %>

        <!-- If no dresses, button to create 3 empty dresses -->
        <div ng-app="dress" ng-controller="dressController" ng-init="init('New Dress','<%= event.id %>')">
          <!-- <form>
            <div class="form-group">
          <input type="text" class="form-control" id="name" name="name" value="New Dress" ng-model="formData.name">
          <input type="text" class="form-control" id="event_id" name="event_id" value="" ng-model="formData.event_id"> -->
          <button type="submit" class="btn btn-primary btn-lg" ng-click="createDress()">Add dresses</button>
            <!-- </div>
          </form> -->
        </div>
      
      <% } else { %>
          <!-- show dresses with links to edit dress object -->
          <% for(var i = 0; i < dresses.length; i++){ %>
          <div class="col s12 m6 l4 v open card">
            <div class="row">
              <div class="col s6">
                <a href="/api/dresses/<%= dresses[i]._id %>/edit">
                    <img src="../../../images/d1.jpg" class="responsive-img center-align">
                </a>
              </div>
              <div class="col s6">
                <p>Dress name: <%= dresses[i].name %></p>
                <p>img:<%= dresses[i].img_url %></p>
                <p>Brand:<%= dresses[i].brand %></p>
                <p>Cost:<%= dresses[i].cost %></p>
                <p>Top style:<%= dresses[i].sTop %></p>
                <p>Bottom style:<%= dresses[i].sBot %></p>
                <p>Colour:<%= dresses[i].colour %></p>
                  
                <!-- button to edit the saved event/lock it down -->
                <a class="waves-effect waves-light btn modal-trigger nocaps open center-align" href="#modal3">This is the one!</a>
                <div id="modal3" class="modal">
                  <div class="modal-content">
                    <h5 class="lora z">What do you want others to see?</h5>
                    <form id="formEditSavedEvent" name="addSavedEvent" method="post" action="/api/savedEvents/<%= savedEvents[0].id %>" class="margined row">
                        <div class="form-group col s12 m5">
                          <p>Your Details</p>
                          <p>
                            <input id="event_id"type="hidden" value="<%= event.id %>" name="event_id"/>
                            <input id="e_name"  type="hidden" value="<%= event.name %>" name="e_name"/>
                            <input id="e_img"   type="hidden" value="<%= event.img_url %>" name="e_img"/>
                            <input id="dress_id"type="hidden" value="<%= dresses[i]._id %>" name="dress_id"/>
                            <input id="d_name"  type="hidden" value="<%= dresses[i].name %>" name="d_name"/>
                            <input id="d_img"   type="hidden" value="<%= dresses[i].img_url %>" name="d_img"/>
                            <input id="brand"   type="hidden" value="<%= dresses[i].brand %>" name="brand"/>
                            <input id="cost"    type="hidden" value="<%= dresses[i].cost %>" name="cost"/>
                            <input id="sTop"    type="hidden" value="<%= dresses[i].sTop %>" name="sTop"/>
                            <input id="sBot"    type="hidden" value="<%= dresses[i].sBot %>" name="sBot"/>
                            <input id="colour"  type="hidden" value="<%= dresses[i].colour %>" name="colour"/>
                            
                            <input type="checkbox" class="filled-in" id="u_name" checked="checked" value='namenamename'name="name"/>
                              <label for="u_name">Your name</label>
                              <br>
                            <input type="checkbox" class="filled-in" id="brand" checked="checked" value='namenamename'name="name"/>
                              <label for="brand">Designer/brand</label>
                              <br>
                            <input type="checkbox" class="filled-in" id="style" checked="checked" value='namenamename'name="name"/>
                              <label for="style">Style/cut</label>
                              <br>
                            <input type="checkbox" class="filled-in" id="colour" checked="checked" value='namenamename'name="name"/>
                              <label for="colour">Colour</label>
                              <br>
                            <input type="checkbox" class="filled-in" id="img_url" checked="checked" value='namenamename'name="name"/>
                              <label for="img_url">Image</label>
                              <br>
                              <br>
                              <br>
                          
                            <button id="btnSubmit" type="submit" class="btn-lg btn-primary btn-centre">Ok, save it!</button>
                          </p>
                        </div>
                        <div class="col s12 m6">
                          <p>Preview</p>
                          <div class="row">
                            <div class="col s5 card grey newDress lighten-2">
                                
                            </div>
                            <div class="col s5">
                                <ul>
                                  <li>Samantha Jones</li>
                                  <li>Gucci</li>
                                  <li>Sweetheart/Pants</li>
                                  <li>Cerulean</li>
                                </ul>
                            </div>
                          </div>
                          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat nocaps">Cancel</a>
                        </div>
                      </form>
                      
                  </div>
                  
                </div>


          
          <% } %>
          </div>
            </div>
            </div>
        <% } %>
      </div>
    </div> 
  </div>
  
  <div class="container">
    <div class="row">
      <h5>Have you seen?</h5>
      <div class="col s6 m3 l2 v open newDress">
        <img src="../../../images/d7.jpg" class="responsive-img"></div>
      <div class="col s6 m3 l2 v open newDress">
        <img src="../../../images/d3.jpg" class="responsive-img"></div>
      <div class="col s6 m3 l2 v open newDress">
        <img src="../../../images/d2.jpg" class="responsive-img"></div>
      <div class="col s6 m3 l2 v open newDress">
        <img src="../../../images/d5.jpg" class="responsive-img"></div>
      <div class="col s6 m3 l2 v open newDress">
        <img src="../../../images/d6.jpg" class="responsive-img"></div>
    </div>
  </div>

   <a class="waves-effect waves-light btn modal-trigger nocaps open center-align" href="#modal3">This is the one!</a>
          <div id="modal3" class="modal">
            <div class="modal-content">
              <h5 class="lora z">What do you want others to see?</h5>
              <form id="formEditSavedEvent" name="addSavedEvent" method="post" action="/api/savedEvents/<%= savedEvents[0].id %>" class="margined row">
                  <div class="form-group col s12 m5">
                    <p>Your Details</p>
                    <p>
                      <input id="event_id"type="hidden" value="<%= event.id %>" name="event_id"/>
                      <input id="e_name"  type="hidden" value="<%= event.name %>" name="e_name"/>
                      <input id="e_img"   type="hidden" value="<%= event.img_url %>" name="e_img"/>
                      
                      
                      <input type="checkbox" class="filled-in" id="u_name" checked="checked" value='namenamename'name="name"/>
                        <label for="u_name">Your name</label>
                        <br>
                      <input type="checkbox" class="filled-in" id="brand" checked="checked" value='namenamename'name="name"/>
                        <label for="brand">Designer/brand</label>
                        <br>
                      <input type="checkbox" class="filled-in" id="style" checked="checked" value='namenamename'name="name"/>
                        <label for="style">Style/cut</label>
                        <br>
                      <input type="checkbox" class="filled-in" id="colour" checked="checked" value='namenamename'name="name"/>
                        <label for="colour">Colour</label>
                        <br>
                      <input type="checkbox" class="filled-in" id="img_url" checked="checked" value='namenamename'name="name"/>
                        <label for="img_url">Image</label>
                        <br>
                        <br>
                        <br>

                      <!-- <input id="dress_id"type="hidden" value="%= dresses[i]._id %>" name="dress_id"/> 
                      <input id="d_name"  type="hidden" value="%= dresses[i].name %>" name="d_name"/>
                      <input id="d_img"   type="hidden" value="%= dresses[i].img_url %>" name="d_img"/>
                      <input id="brand"   type="hidden" value="%= dresses[i].brand %>" name="brand"/>
                      <input id="cost"    type="hidden" value="%= dresses[i].cost %>" name="cost"/>
                      <input id="sTop"    type="hidden" value="%= dresses[i].sTop %>" name="sTop"/>
                      <input id="sBot"    type="hidden" value="%= dresses[i].sBot %>" name="sBot"/>
                      <input id="colour"  type="hidden" value="%= dresses[i].colour %>" name="colour"/> -->
                    
                      <button id="btnSubmit" type="submit" class="btn-lg btn-primary btn-centre">Ok, save it!</button>
                    </p>
                  </div>
                  <div class="col s12 m6">
                    <p>Preview</p>
                    <div class="row">
                      <div class="col s5 card grey newDress lighten-2">
                          
                      </div>
                      <div class="col s5">
                          <ul>
                            <li>Samantha Jones</li>
                            <li>Gucci</li>
                            <li>Sweetheart/Pants</li>
                            <li>Cerulean</li>
                          </ul>
                      </div>
                    </div>
                    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat nocaps">Cancel</a>
                  </div>
                </form>
                
            </div>
            
          </div>      

  
      

  <% include ../../partials/footer %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-resource.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1561353927499605',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
  <script src="../../../javascripts/spa.js"></script>
  <script src="../../../javascripts/init.js"></script>
</body>
</html>
