<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/head2 %>
    <link rel='stylesheet' href='../../stylesheets/style.css'/>
  </head>
  <body>
    <% include ../../partials/nav-top %>
      <header>
        <div class="parallax-container">
          <div class="parallax">
          <img src="<%= event.img_url %>">
        </div>
        </div>
      </header>

<div class="section">
      <div class="container center-align v">
        <h3><%= event.name %></h3>
        <p><%= event.month %></p> 
        <% var cDate = new Date();
            var cMonth = cDate.getMonth();
            var months = event.month - cMonth; 
            if (months < 0){ %>
              <p>this is a past event</p>
            <% } else if (months === 0){ %>
            <p>event is this month!</p>
            <% } else { %>
            <p><%= months %> months until the event!</p>
           <% } %>
      </div>

      <div class="center-align open">
      <div class="row">
        <div class="col s6 black-text underline bold">The Event. Public: anyone can view</div>
        <div class="col s6">
          <a href="/api/events/<%= event._id %>/shortlist" class="black-text">Your Shortlist. Private: only you can view</a>
        </div>
      </div>
      </div>

      <!-- <div class="row">
    <div class="col s12">
      <ul class="tabs open tabz">
        <li class="tab col s3"><a class="active tabz black-text" href="#event">The Event. Public: anyone can view</a></li>
        <li class="tab col s3"><a class="tabz black-text" href="#shortlist">Your Shortlist. Private: only you can view</a></li>
      </ul>
    <div class="divider"></div>
    </div>
    <div id="event" class="col s12 center-align y"><h5>EVENT PAGE</h5></div>
    <div id="shortlist" class="col s12 center-align y"><h5>SHORTLIST PAGE</h5></div>
  </div> -->

      <div class="divider"></div>




</div>
         
      <% var RD = 0;
        for(var i = 0; i < savedEvents.length; i++){ 
          if (savedEvents[i].dress_id != undefined){ 
            RD++;
        }}%>
      <% if (RD === 0){ %>
        <div class="row">
          <div class="col s6 offset-s4 y open">
              <p>Looks like nobody is ready to register their dress.</p>
              <p>Share this event with other guests</p>
              <div class="z social">
                <a href="/auth/facebook"><img src="../../images/fbt.png"></a>
                <a href="/auth/instagram"><img src="../../images/int.png"></a>
                <a href="/auth/twitter"><img src="../../images/twt.png"></a>
              </div>
            </div>
        </div>
      <% } else { %>
      <div class="container">
        <div class="row">
        <% if (RD === 1){ %>
          <h5 id="RD" class=""><%= RD %> person has chosen what they're wearing</h5>
        <% } else { %>
          <h5 id="RD" class=""><%= RD %> people have chosen what they're wearing</h5>
        <% } %>
      </div>
    </div>

      <div class="container">
        <div class="row padded">
      <% for(var i = 0; i < savedEvents.length; i++){ 
            if (savedEvents[i].dress_id != undefined){ %>
          <div class="col s12 m6 l4 v open card">
            <div class="row">
              <div class="col s6">
                <a href="/api/savedEvents/<%= savedEvents[i]._id %>">
                  <img src="../../images/d1.jpg" class="responsive-img center-align">
                </a>
              </div>
            <div class="col s6">
                <p class="underline"><%= savedEvents[i].u_name %>'s dress</p>
                <p>Dress name: <%= savedEvents[i].d_name %></p>
                <p>img:<%= savedEvents[i].d_img %></p>
                <p>Brand:<%= savedEvents[i].brand %></p>
                <p>Cost:<%= savedEvents[i].cost %></p>
                <p>Top style:<%= savedEvents[i].sTop %></p>
                <p>Bottom style:<%= savedEvents[i].sBot %></p>
                <p>Colour:<%= savedEvents[i].colour %></p>
              </div>
            </div>
          </div>
        <% }}} %>
      </div>
    </div>

<% if (event.password !== undefined){ %>
<a class="waves-effect waves-light btn modal-trigger1 nocaps open center-align" id="pbtn" href="#modalpass">Password</a>
  <!-- Modal Structure -->
  <div id="modalpass" class="modal">
    <div class="modal-content">
      <a href="/search" class=""> < Back to all events</a>
      <div class="container v row">
        <p class="z">This event is password protected. Please enter the password</p>
        <div class="input-field col s6 x">
            <input type="password" name="password" id="password" onkeyup="checkPass(); return false;">
            <label for="password">Password</label>
            <span id="confirmMessage" class="confirmMessage"></span>
            <div id="eventpass" class="hidden"><%= event.password %></div>
        </div>
        <div class="col s6">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn nocaps hidden" id="enter">Enter</a>
          <a href="#!" class="waves-effect waves-green btn nocaps disabled" id="dummy">Enter</a>
        </div>
      </div>
      </div>
    <div class="modal-footer container">
      <p class="z">Don't have the password? <a href="/contact" class="">Message the event organiser</a></p>
    </div>
  </div>
<% } %>
  
  <% if(user){
    if(user._id === event.u_id){ %>
    <a href="/api/events/<%= event.id %>/edit" class="margined">Edit this event</a>
  <% }} %>

  <% include ../../partials/footer %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-resource.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1561353927499605',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

  <script src="../../javascripts/spa.js"></script>
  <script src="../../javascripts/init.js"></script>
</body>
</html>