<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
  	<div class="container">
      <header>
        <% include partials/navbar %>
        <% include partials/header %>
      </header>
   </div>

			<p>This is your user ID <%= user_id %> </p>
			<p>This is your username <%= username %> </p>
			<p>This is your user ID <%= email %> </p>
		
		<h1>Showing all events:</h1>
		<% for(var i = 0; i < events.length; i++){ %>
    	<p><a href="api/events/<%= events[i]._id %>/edit"><%= events[i].name %></a></p>
    <% } %>

    <h1>Dresses I've added:</h1>
		<% for(var i = 0; i < dresses.length; i++){ %>
    	<p><a href="api/dresses/<%= dresses[i]._id %>/edit"><%= dresses[i].name %></a></p>
    <% } %>

  </body>
</html>