<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/head %>
  </head>
  <body>
    <div class="container">
      <header>
        <% include ../../partials/navbar %>
      </header>
    </div>

<h1><%= title %></h1>
<h1>total = <%= total %></h1>
    <% for(var i = 0; i < savedEvents.length; i++){ %>
      <p><a href="/api/savedEvents/<%= savedEvents[i]._id %>"><%= savedEvents[i].u_name %>'s dress for <%= savedEvents[i].e_name %></a></p>
      <p><%= savedEvents[i].d_name %></p>
      <p><%= savedEvents[i].d_img %></p>
      <p><%= savedEvents[i].brand %></p>
      <p><%= savedEvents[i].cost %></p>
      <p><%= savedEvents[i].sTop %></p>
      <p><%= savedEvents[i].sBot %></p>
      <p><%= savedEvents[i].colour %></p>
      <form action="/api/savedEvents/<%= savedEvents[i]._id %>" method="post" enctype="application/x-www-form-urlencoded" class="margined">
        <input type="hidden" value="DELETE" name="_method"/>
        <button type="submit" class="btn-lg btn-primary btn-centre">Delete This Event</button>
      </form>
    <% } %>

</body>
</html>