<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>


    <form action="/api/dresses/<%= dress.id %>/edit" method="post" name="updatedress" enctype="application/x-www-form-urlencoded" class="margined">
      <div class="form-group">
        <p>Name:
          <input id="inputName" type="text" value="<%= dress.name %>" name="name"/>
        </p>
        <p>Brand:
          <input id="inputBrand" type="text" value="<%= dress.brand %>" name="brand"/>
        </p>
        <p>Cost:
          <input id="inputCost" type="text" value="<%= dress.cost %>" name="cost"/>
        </p>
        <p>Style - Top:
          <input id="inputSTop" type="text" value="<%= dress.sTop %>" name="sTop"/>
        </p>
        <p>Style - Bottom:
          <input id="inputSBot" type="text" value="<%= dress.sBot %>" name="sBot"/>
        </p>
        <p>Colour:
          <input id="inputColour" type="text" value="<%= dress.colour %>" name="colour"/>
        </p>
        <p>Image URL:
          <input id="inputImgUrl" type="text" value="<%= dress.img_url %>" name="img_url"/>
        </p>
        <p>
          <button id="btnSubmit" type="submit" class="btn-lg btn-primary btn-centre">Save</button>
        </p>
      </div>
    </form>

    <form action="/api/dresses/<%= dress.id %>/edit" method="post" enctype="application/x-www-form-urlencoded" class="margined">
      <input type="hidden" value="DELETE" name="_method"/>
      <button type="submit" class="btn-lg btn-primary btn-centre">Delete</button>
    </form>

</body>
</html>