<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>


    <form action="/api/dresses/<%= dress.id %>/edit" method="post" name="updatedress" enctype="application/x-www-form-urlencoded" class="margined">
      <div class="form-group">
        <p>Name:
          <input id="inputName" type="text" value="<%= dress.name %>" name="name"/>
        </p>
      
        <p>
          <button id="btnSubmit" type="submit" class="btn-lg btn-primary btn-centre">Save</button>
        </p>
      </div>
    </form>

    <form action="/api/dresses/<%= dress.id %>/edit" method="post" enctype="application/x-www-form-urlencoded" class="margined">
      <input type="hidden" value="DELETE" name="_method"/>
      <button type="submit" class="btn-lg btn-primary btn-centre">Delete</button>
    </form>

</body>
</html>